body {
  background-color: cornflowerblue;
  text-align: center;
}
nav {
  text-align: center;
  background-color: goldenrod;
    ul {
      padding-left: 0;
      li {
        font-size: 25px;
        display: inline;
        margin-right: 10px;
      }
    }
  }
  
  form {
    margin: 0 auto; 
    width: 250px;
    input {

      display: block;
      margin:  0 auto;
    }
    text-area {
      display: block;
      margin: 5px 0;
    }
    button {
      display: block;
      margin: 0 auto;
    }
  }
  
  main {
    ul {
      overflow:hidden;
      padding:3em;
      li {
        margin:1em;
        float:left;
        font-size: 25px;
        -moz-box-shadow: 5px 5px 7px #212121;
        -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
        box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
        -moz-transition: -moz-transform 0.15s linear;
        -o-transition: -o-transform 0.15s linear;
        -webkit-transition: -webkit-transform 0.15s linear;
        div{
          margin: 0 auto; 
          text-decoration:none;
          color:#000;
          background:#ffc;
          display:block;
          height:10em;
          width:10em;
          padding:1em;
          position: relative;
        }
        a {
          color: red;
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }
  }